{{- $logsEnabled := false }}
{{- if .Values.deployment.dataDog.enableTracing }}
{{- $logsEnabled = true }}
{{- else }}
{{- $logsEnabled = .Values.deployment.dataDog.enableLogs }}
{{- end }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "deployment.name" $ }}
  {{- with .Values.deployment.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "deployment.labels" . | nindent 4 }}
    {{- range $k, $v := .Values.deployment.labels }}
    {{- printf "%s: %s" $k ($v | quote) | nindent 4 }}
    {{- end }}
spec:
  selector:
    matchLabels:
      app: {{ include "deployment.name" $ }}
  replicas: {{ .Values.deployment.replicas }}
  revisionHistoryLimit: {{ .Values.deployment.revisionHistoryLimit }}
  template:
    metadata:
    {{- if or .Values.deployment.podAnnotations $logsEnabled }}
      annotations:
        {{- with .Values.deployment.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if $logsEnabled }}
        {{- include "deployment.dataDogAnnotations" $ | nindent 8 }}
        {{- end }}
      {{- end }}
      labels:
        {{- include "deployment.labels" . | nindent 8 }}
        {{- range $k, $v := .Values.deployment.podLabels }}
        {{- printf "%s: %s" $k ($v | quote) | nindent 8 }}
        {{- end }}
        {{- if $logsEnabled }}
        {{- include "deployment.dataDogLabels" $ | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.deployment.serviceAccountName }}
      serviceAccountName: {{ .Values.deployment.serviceAccountName }}
      {{- end }}
      {{- with .Values.deployment.imagePullSecrets }}
      imagePullSecrets:
      {{- range $secret := . }}
        - name: {{ $secret }}
      {{- end }}
      {{- end }}
      containers:
      {{- with .Values.deployment.container }}
      - name: {{ $.Values.fullnameOverride | default $.Release.Name }}
        image: "{{ .image }}:{{ .tag }}"

        {{- if .command }}
        command: {{ .command | toJson }}
        {{- if .args }}
        args: {{ .args | toJson }}
        {{- end }}
        {{- end }}

        {{- with .resources }}
        resources:
        {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- if .containerPort }}
        ports:
          - containerPort: {{ .containerPort }}
        {{- end }}
        {{- if .livenessProbe.enable }}
        livenessProbe:
        {{- include "deployment.livenessProbe" . | nindent 10 }}
        {{- end }}
        {{- if .readinessProbe.enable }}
        readinessProbe:
        {{- include "deployment.readinessProbe" . | nindent 10 }}
        {{- end }}
        {{- if or .environment .fieldRefEnvironment $.Values.deployment.dataDog.enableTracing }}
        env:
          {{- range $name, $value := .environment }}
          - name: {{ $name }}
            value: {{ $value | quote }}
          {{- end }}
          {{- range $name, $value := .fieldRefEnvironment }}
          - name: {{ $name }}
            valueFrom:
              fieldRef:
                fieldPath: {{ $value }}
          {{- end }}
          {{- if $.Values.deployment.dataDog.enableTracing }}
          {{- include "deployment.dataDogEnvs" $ | nindent 10 }}
          {{- end }}
        {{- end }}
        {{- if or .secrets .configMaps .additionalVolumeMounts $.Values.deployment.dataDog.enableTracing }}
        volumeMounts:
          {{- range $secret := .secrets }}
          - name: {{ $secret }}
            mountPath: /secrets/{{ $secret }}
            readOnly: true
          {{- end }}
          {{- range $configMap := .configMaps }}
          - name: {{ $configMap.name }}
            mountPath: {{ $configMap.mountPath }}
          {{- end }}
          {{- range $volumeMount := .additionalVolumeMounts }}
          - name: {{ $volumeMount.name }}
            mountPath: {{ $volumeMount.mountPath }}
          {{- end }}
          {{- if $.Values.deployment.dataDog.enableTracing }}
          - name: apmsocketpath
            mountPath: /var/run/datadog
          {{- end }}
        {{- end }}
      {{- end }}
      {{- if .Values.deployment.cloudSQLProxy.enable }}
      {{- include "deployment.cloudSQLProxy" $ | nindent 6 }}
      {{- end }}
      {{- with .Values.deployment }}
      {{- if or (and .cloudSQLProxy.enable .cloudSQLProxy.secretKeyName) .container.secrets .container.configMaps .additionalVolumes .dataDog.enableTracing }}
      volumes:
        {{- if and .cloudSQLProxy.enable .cloudSQLProxy.secretKeyName }}
        - name: {{ .cloudSQLProxy.secretKeyName }}
          secret:
            secretName: {{ .cloudSQLProxy.secretKeyName }}
        {{- end }}

        {{- with .container }}
        {{- range $secret := .secrets }}
        {{- if not (and $.Values.deployment.cloudSQLProxy.enable (eq $.Values.deployment.cloudSQLProxy.secretKeyName $secret))}}
        - name: {{ $secret }}
          secret:
            secretName: {{ $secret }}
        {{- end }}
        {{- end }}
        {{- range $configMap := .configMaps }}
        - name: {{ $configMap.name }}
          configMap:
            name: {{ $configMap.name }}
        {{- end }}
        {{- end }}
        {{- with .additionalVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if .dataDog.enableTracing }}
        - hostPath:
            path: /var/run/datadog
          name: apmsocketpath
        {{- end }}
      {{- end }}
      {{- end }}

