{{- if .Values.enableAllMonitors -}} {{- range $monitor := .Values.monitors }}

{{- if gt (len $monitor.name) 255 }}
{{- fail (printf "monitor name [%s, len: %d] too long. must have max length of 255." $monitor.name (len $monitor.name)) }}
{{- end }}

{{ $types := list "metric alert" "query alert" "service check" "event alert" "log alert" "process alert" "rum alert" "trace-analytics alert" "slo alert"  "event-v2 alert" "audit alert" "composite" }}
{{- if not (has $monitor.type $types) }}
{{- fail (printf "monitor [%s] does not have a valid type. Valid type: %s" $monitor.name (join ", " $types)) }}
{{- end }}

{{- if not $monitor.tags }}
{{- fail (printf "monitor [%s] does not have any tags. Should at least include env and team." $monitor.name) }}
{{- end }}

---
apiVersion: datadoghq.com/v1alpha1
kind: DatadogMonitor
metadata:
  name: {{ regexReplaceAll "\\W+|_" $monitor.name "-" | trimSuffix "-" | trimPrefix "-" | lower}}
  labels:
    {{- include "datadogmonitor.labels" $ | nindent 4 }}
    {{- with $monitor.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  name: "{{ $monitor.name }}"
  type: {{ $monitor.type | quote }}
  query: {{ $monitor.query | required "A query is required on all monitors"| quote }}
  message: {{ $monitor.message | required "A message is required on all monitors"| quote }}
  tags:
  {{- range $monitor.tags }}
    - {{ . | quote }}
  {{- end }}
    - "generated:kubernetes"
  priority: {{ $monitor.priority | default "2" }}
  options:
    thresholds:
      critical: {{ $monitor.thresholds.critical | required "thresholds.critical is required on all monitors" | quote }}
      {{- with $monitor.thresholds.warning }}
      warning: {{ $monitor.thresholds.warning | quote }}
      {{- end }}
    notifyAudit: {{ $monitor.notifyAudit | default "false" }}
    requireFullWindow: {{ $monitor.requireFullWindow | default "false" }}
    notifyNoData: {{ $monitor.notifyNoData | default "false" }}
    noDataTimeframe:
    renotifyInterval: {{ $monitor.renotifyInterval | default "0" }}
    includeTags: {{ $monitor.includeTags | default "false" }}
    evaluationDelay: {{ $monitor.evaluationDelay | default "300" }}
    {{/* Below setting is not supported yet, will be available in a future release. */}}
    {{/* enableLogsSample: {{ $monitor.enableLogsSample | default "false"}} */}}
{{- end }}
{{- end }}
