global:
  # Add labels from a parent chart to all manifests.
  labels: {}

# Will rename all resources.
fullnameOverride: ""

##################################################
#                  Deployment                    #
##################################################

deployment:
  # Labels on the Deployment definition.
  labels: {}

  # Annotations on the Deployment definition.
  annotations: {}


  dataDog:
    # Enable DataDog logging. Please make sure that your logs comply with the okamba standard ruleset.
    # If in doubt, ask a collauge or the infrastructure team.
    enableLogs: false

    # Enable DataDog tracing with correlated logs. You will need this Nuget package for .NET Core, https://www.nuget.org/packages/Datadog.Monitoring.Distribution
    # Enabling tracing will override and enable the above DataDog logs.
    # Make sure your logs comply with the okamba standard ruleset.
    enableTracing: false

  # Pod Replicas
  replicas: 1

  # Replicaset revision history limit.
  revisionHistoryLimit: 5

  # Pod Annotations
  podAnnotations: {}

  # Pod Labels
  podLabels: {}

  # Array of imagePullSecret's
  imagePullSecrets: []
    #- secret-name-here

  # Main container configuration
  container:
    image: example-image
    tag: latest

    # Enable custom command
    #command: ["my-command"]
    #args: ["with", "--params=yes"]

    # containerPort needs to be set if the container has to receive traffic.
    containerPort: null
    resources:
      requests:
        memory: 1000Mi
        cpu: 400m
      limits:
        memory: 2000Mi
        cpu: 1000m

    # https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes
    livenessProbe:
      enable: true
      httpGet:
        path: /healthz
      initialDelaySeconds: 5
      periodSeconds: 10
      timeoutSeconds: 1
      failureThreshold: 3

    readinessProbe:
      enable: true
      httpGet:
        path: /readyz
      initialDelaySeconds: 5
      periodSeconds: 10
      timeoutSeconds: 1
      successThreshold: 1
      failureThreshold: 3

    environment: {}
      # SOME_ENV: some-value

    fieldRefEnvironment: {}
      # SOME_ENV: some-field-reference

    # Below list of kubernetes secret names will be mounted into the container
    # under the path /secrets/<secret-name>/<secret-key>
    secrets: []
    # - very-secret

    # Below list of configmaps will be mounted into he container.
    configMaps: []
    # - name: some-configmap
    #   mountPath: /some/path

    # Below additional volumes vil be mounted in the container at mountPath.
    additionalVolumeMounts: []
    # - name: cache-volume
    #   mountPath: /some/path

  # Add additional volumes.
  additionalVolumes: []
  # - name: cache-volume
  #   emptyDir: {}

  # Enable the Google Cloud SQL Proxy sidecar
  # Find the latest version here, https://gcr.io/cloudsql-docker/gce-proxy
  cloudSQLProxy:
    enable: false
    imageTag: 1.31.0
    projectId: google-project-id
    region: europe-west3
    instanceName: sqlinstance-name
    secretKeyName: google-service-account-key

##################################################
#                    Service                     #
##################################################

# Remember to set the container port when enabling the service.
service:
  enable: false
  # Labels on the Service definition.
  labels: {}

  # Annotations on the Service definition.
  annotations: {}


##################################################
#                    Ingress                     #
##################################################

ingress:
  # Enable the ingress definition.
  enable: false

  # Creating DNS records is only supported in our test environment.
  # If needed, only enable this setting on the specific enrionment value file.
  createDNSRecord: false

  # Annotations on the Ingress definition.
  annotations:
    cert-manager.io/cluster-issuer: nginx-http01

  # Labels on the Ingress definition.
  labels: {}

  # Ingress Class
  ingressClassName: nginx

  # URL of the application
  host: example.org

  # Redirect www.example.org to example.org.
  # Use this for custmer facing sites to support old Boomer habits.
  # Only supported if using NGINX and ingressClassName is "nginx".
  wwwRedirect: false

  # By default, this chart will create a pathType: Prefix on "/" for the service above.
  # If you want additional paths eg. a path to a BFF, add them below.
  addtionalPaths: []
  # - path: /api/
  #   pathType: Prefix
  #   backend:
  #     service:
  #       name: backend-for-frontend
  #       port:
  #         number: 3000

##################################################
#             Vertical Pod Autoscaler            #
##################################################

verticalPodAutoscaler:
  enable: true
  # Labels on the Service definition.
  labels: {}

  # Annotations on the Service definition.
  annotations: {}